@import "tailwindcss";

@theme {
  --animate-marquee: marquee 22s linear infinite;

  @keyframes marquee {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-33.333%); }
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
}